In [2]:
import pandas as pd
import re
import string

In [14]:
#import workout data 
cal_data = pd.read_csv('cal_data.csv')
cal_data.head()

   full_date  active_cal
0  4/29/2017      56.549
1  4/30/2017     468.843
2   5/1/2017       0.944
3   5/2/2017     825.168
4   5/3/2017     546.853

In [15]:
type(cal_data["full_date"][0])

str

In [16]:
cal_data['full_date'] = cal_data['full_date'].apply(lambda x: "'" + str(x) + "'")
cal_data.head()

     full_date  active_cal
0  '4/29/2017'      56.549
1  '4/30/2017'     468.843
2   '5/1/2017'       0.944
3   '5/2/2017'     825.168
4   '5/3/2017'     546.853

In [17]:
#Export formatted data to csv 
cal_data.to_csv('cal_data.csv')